/* footer.css */

#footer {
    width: 100%;
    margin-top: 2vmax;
    padding: 20px;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
  }
  
  .leftFooter {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .leftFooter > h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1vmax;
  }
  
  .leftFooter > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1vmax;
  }
  
  .leftFooter > img {
    width: 50%;
    max-width: 150px;
    margin: 1vmax;
    cursor: pointer;
  }
  .leftFooter > img:hover{
    transform: scale(1.1);
  }
  
  /* Adjusted styles for the .midFooter section */
  .midFooter {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 1vmax;
  }
  
  .midFooter > h1 {
    font-size: 4vmax;
    margin-bottom: 1vmax;
  }
  
  .rightFooter {
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
  
  .rightFooter > h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1vmax;
  }
  
  .rightFooter > a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.3vmax;
    margin: 0.5vmax;
    transition: all 0.5s;
  }
  
  .rightFooter > a:hover {
    text-decoration: underline;
  }
  